@import "../../common/_variables.scss";

.front {
  background-color: $primary;
  color: $secondary;
  min-height: 93vh;
}
.month-name {
  min-height: 3vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: $secondary;
}

.weekend {
  color: $accent;
}
