@import "../../common/_variables.scss";
//:root {
//  background-color: $accent;
//  color: $primary;
//}

.toolbar {
  background: $secondary;
  //color: #878f99;
}

.toolbar-button {
  background-color: $accent;
  color: $primary;
}
