@import "../../common/_variables.scss";

.register-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //width: 40vw;
  height: 40vh;
  min-height: 20vh;
  padding-top: 20vh;
}

.signup-div {
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-input-error {
  background-color: $primary !important;
  border-color: darkred !important;
  width: 18vw;
  min-width: 15vw;
}

.input-helper {
  font-size: 0.7em !important;
  inline-size: 18vw;
  justify-content: left;
  color: darkred !important;
}
